:root {
  --container-width: 1000px;
  --container-margin-bottom: 4rem;
}

.container {
  max-width: var(--container-width, 1000px);
  margin: 0 auto;
  margin-bottom: var(--container-margin-bottom, 4rem);
}
