.home-wrapper {
  font-size: var(--lagom-core-font-sizes-lg);
}

.home-wrapper .package {
  margin: 4rem 0;
  padding: 1rem 2rem 2rem;
  border-style: solid;
  border-radius: 1rem;
  border-color: var(--core-colors-lisbon-brown);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-wrapper .package legend {
  padding: 0 2rem;
}
.home-wrapper .package p,
.home-wrapper .package ul {
  text-align: left;
}
