.footer-container {
  width: 100vw;
  min-height: 180px;
  padding: 2rem 0;
  background-color: var(--lisbon-brown);
  color: var(--satin-linen);
  font-family: var(--font-families-body);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__logo,
.footer__logo:hover,
.footer__logo .img {
  border: none;
  padding: 0;
  height: 64px;
}

.footer__logo .img {
  background-image: var(--footer-logo-url);
  width: var(--footer-logo-width);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: var(--footer-links-flex-direction);
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: var(--footer-links-gap);
}

.footer__link,
.footer__link:hover {
  color: var(--satin-linen);
  border: none;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
