.nav-container {
  width: 100vw;
  background-color: var(--satin-linen);
  font-family: var(--font-families-body);
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav__logo,
.nav__logo:hover,
.nav__logo .img {
  border: none;
  padding: 0;
  height: 64px;
}

.nav__logo .img {
  background-image: var(--nav-logo-url);
  width: var(--nav-logo-width);
}

.nav__button {
  appearance: none;
  background: none;
  border: none;
  color: var(--black);
  cursor: pointer;
  display: block;
  height: 3.25rem;
  margin-left: auto;
  position: relative;
  width: 3.25rem;
}

.nav__button span {
  background-color: var(--black);
  display: var(--nav-button-display, none);
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.nav__button span:first-child {
  top: calc(50% - 6px);
}
.nav__button span:nth-child(2) {
  top: calc(50% - 1px);
}
.nav__button span:nth-child(3) {
  top: calc(50% + 4px);
}

.nav__button.nav__button--active span:first-child {
  transform: translateY(5px) rotate(45deg);
}
.nav__button.nav__button--active span:nth-child(2) {
  opacity: 0;
}
.nav__button.nav__button--active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.nav__menu {
  display: var(--nav-menu-display, flex);
  align-items: center;
  margin: 0;
  padding: 16px 0 0 0;
  list-style-type: none;
  gap: 2rem;
}

.nav__link,
.nav__link:hover {
  color: var(--black);
  border: none;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}
