@import "./variables.css";
@import "./global-style.css";

/* html {
  background-color: var(--body-color);
} */

.body-container {
  /* background-color: var(--body-color); */
  font-family: var(--font-families-body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.hero-home {
  margin-bottom: 0;
}
