@import "./variables.css";

html {
  background-color: var(--satin-linen);
}

.body-container {
  background-color: var(--satin-linen);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.full-width-image-container {
  width: 100vw;
  height: 600px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2rem -50vw;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list-item {
  margin: 2rem 0;
}

.blog-list-item.is-featured {
  background-color: var(--primary);
}
