:root {
  /* brand */
  --satin-linen: #e4ded2;
  --yellow-metal: #7b693e;
  --xanadu: #6c8673;
  --opium: #8d726e;
  --lisbon-brown: #413c24;
  --black: #100f09;
  --white: #ffffff;

  --primary: var(--xanadu);
  --body-color: var(--white);

  --background-color: var(--satin-linen);
  --foreground-color: var(--black);
  --selection-color: var(--opium);

  --font-sizes-h1: 48.829px;
  --font-sizes-h2: 39.063px;
  --font-sizes-h3: 31.25px;
  --font-sizes-h4: 25px;
  --font-sizes-h5: 20px;
  --font-sizes-h6: 16px;

  --line-heights-heading: 1.22;

  --font-families-monospace: "Cutive Mono";
  --font-families-sans-serif: "Quicksand";

  --font-families-heading: var(--font-families-monospace);
  --font-families-body: var(--font-families-sans-serif);

  --font-sizes-body: 16px;

  --line-heights-body: 1.7;

  --logo-long-width: 459px;
  --logo-short-width: 246px;

  --logo-long-url: url(../../static/images/logo-long.svg);
  --logo-long-dark-url: url(../../static/images/logo-long-dark.svg);
  --logo-short-url: url(../../static/images/logo-short.svg);
  --logo-short-dark-url: url(../../static/images/logo-short-dark.svg);

  /* component overrides */
  --nav-height: 80px;
  --nav-logo-url: var(--logo-long-url);
  --nav-logo-width: var(--logo-long-width);

  --footer-logo-url: var(--logo-long-dark-url);
  --footer-logo-width: var(--logo-long-width);
  --footer-links-flex-direction: row;
  --footer-links-gap: 2rem;

  /* core component overrides */
  --section-width: 1800px;
  --container-width: 800px;
  --container-margin-bottom: 4rem;
  --hero-height: calc(100vh - var(--nav-height));
  --hero-margin-bottom: var(--container-margin-bottom);
  --page-header-font-family: var(--font-families-heading);
  --quote-accent: var(--black);
  --quote-font-family: var(--font-families-monospace);
  --section-header-font-family: var(--font-families-heading);

  /* sizes */
  --min-width-emphasized: calc(1.3 * var(--container-width));

  --breakpoint-mobile-portrait: 320px;
  --breakpoint-mobile-landscape: 568px;
  --breakpoint-tablet-portrait: 768px;
  --breakpoint-tablet-landscape: 992px;

  /* lagom overrides */

  --lagom-component-page-header-typography: 700 81px/1.22
    var(--font-families-heading);
  --lagom-component-section-header-typography: 700 54px/1.22
    var(--font-families-heading);
}

/* tablet landscape */
@media screen and (max-width: 992px) {
  :root {
    --font-sizes-h1: 39.063px;
    --font-sizes-h2: 31.25px;
    --font-sizes-h3: 25px;
    --font-sizes-h4: 20px;
    --font-sizes-h5: 16px;
    --font-sizes-h6: 16px;
    --nav-logo-url: var(--logo-short-url);
    --nav-logo-width: var(--logo-short-width);
    --footer-logo-url: var(--logo-short-dark-url);
    --footer-logo-width: var(--logo-short-width);
    --lagom-component-page-header-typography: 700 54px/1.22
      var(--font-families-heading);
    --lagom-component-section-header-typography: 700 36px/1.22
      var(--font-families-heading);
  }
}

/* tablet portrait */
@media screen and (max-width: 768px) {
  :root {
    --nav-flex-direction: column;
    --nav-button-display: block;
    --nav-menu-display: none;
    --footer-links-flex-direction: column;
    --footer-links-gap: 0.5rem;
  }
}

/* mobile landscape */
@media screen and (max-width: 568px) {
  :root {
    --font-sizes-h1: 31.25px;
    --font-sizes-h2: 25px;
    --font-sizes-h3: 20px;
    --font-sizes-h4: 16px;
    --font-sizes-h5: 16px;
    --font-sizes-h6: 16px;
  }
}

/* mobile portrait */
@media screen and (max-width: 320px) {
}

/* emphasized */
@media screen and (min-width: 1300px) {
}
