:root {
  --satin-linen: #E4DED2;
  --yellow-metal: #7B693E;
  --xanadu: #6C8673;
  --opium: #8D726E;
  --lisbon-brown: #413C24;
  --black: #100F09;

  --primary: var(--xanadu);
  --body-color: var(--satin-linen);
  
  --container-width: 1000px;
}
